* {
    margin: 0;
    transition: all .5s;
}

.game_container {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    width: 337px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10%;
}

.game_container .game_less_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    width: 280px;
    row-gap: 10px;
    transition: all .5s;
}

.game_container .game_name {
    grid-column: 1/span 2;
    font-size: 30px;
    font-weight: bold;
}

.game_container .game_genre {
    font-size: 20px;
    font-weight: 100px;
}

.game_container .game_rating {
    font-size: 20px;
    text-align: right;
    font-weight: 100px;
}

.game_container:hover {
    scale: 1.05;
}

.genre_container {
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.genre_container:hover {
    scale: 1.05;
}