* {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    background-image: url("https://media.rawg.io/media/games/20a/20aa03a10cda45239fe22d035c0ebe64.jpg");
    min-width: 350px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid black;
    align-items: end;
    display: flex;
    cursor: pointer;
    transition: all .4s;
    padding: 0;
}

.card-details {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    color: white;
    font-family: 'Orbitron';
    width: 100%;
    bottom: 0;
    row-gap: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 0 18px 18px;
    margin: 0;
}

.card-text1 {
    font-size: 20px;
    grid-column: span 2;
}

.card-text2 {
    font-size: 15px;
}

.card-text3 {
    font-size: 15px;
}