.genre_container {
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.genre_container:hover {
    scale: 1.05;
}