@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    cursor: default;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --theme-color: 0,0,0;
    --nav-bg: 6,4,7;
    --text-font-family: "Orbitron";
    --components-font-family: 'Space Grotesk';
    --font-color: 255,255,255;
    --nav-explore-tab-bg-color: 'transparent';
    --nav-explore-tab-tabs-font-color: 122,133,166;
    --nav-explore-tab-tabs-hover-font-color: 255,255,255;
    --nav-explore-tab-tabs-hover-bg-color: #261237;
    --genre-tag-background: color-mix(in oklab, #261237 20%, transparent);
    --genre-tag-border-color: rgb(72, 35, 128)
}

[data-theme='light'] {
    --theme-color: 255,255,255;
    --nav-bg: 228,227,231;
    --font-color: 0,0,0;
    --nav-explore-tab-bg-color: '#ffffff';
    --nav-explore-tab-tabs-font-color: 100,100,100;
    --nav-explore-tab-tabs-hover-font-color: 0,0,0;
    --nav-explore-tab-tabs-hover-bg-color: #d7c2e9;
    --genre-tag-background: color-mix(in oklab, #ad4cff 20%, transparent);
    --genre-tag-border-color: rgb(146 73 255)
}

body {
    background-color: rgb(var(--theme-color));
}

a {
    text-decoration: none;
}

.header {
    background-image: url('../images/orion.png');
    background-size: cover;
    background-position: 30% 20%;
    width: 100vw;
    height: 100vh;
}

.bg_filter {
    background: linear-gradient(
        rgba(var(--theme-color), .2) 0%,
        rgba(var(--theme-color), 1) 100%
        );
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-games-button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: oklch(0.65 0.29 295);
    color: white;
    font-family: var(--components-font-family);
    font-weight: bold;
    border: none;
    font-size: clamp(10px, 4cqi, 20px);
    border-radius: 10px;
    margin-top: 70px;
    cursor: pointer;
    transition: all .4s;
}
.browse-games-button:hover, .browse-games-button:focus {
    scale: 1.02;
    background-color: transparent;
    border-color: rgb(var(--font-color));
}

#trending {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trending-icon {
    color: #a44cff;
    background-color: var(--genre-tag-background);
    border: 1px solid var(--genre-tag-border-color);
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.trending-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.trending-heading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.trending-text {
    font-family: var(--text-font-family);
    font-weight: bold;
}

.trending-text p {
    color: rgb(var(--font-color));
    font-size: clamp(20px, 6cqi, 36px)
}

.trending-text span {
    font-size: clamp(10px, 3cqi, 15px);
    color: rgb(var(--nav-explore-tab-tabs-font-color));
}

.trending-nav button {
    background: none;
    color: #a44cff;
    font-family: var(--components-font-family);
    font-weight: bold;
    display: flex;
    align-items: center;
    border: none;
    font-size: clamp(15px, 4cqi, 20px);
    transform: all .2s;
    cursor: pointer;
}
.trending-nav button:hover, .trending-nav button:focus .trending-nav svg {
    transform: translateX(10px);
    text-decoration: underline;
}

.trending-games {
    display: flex;
    gap: 30px;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#vault {
    margin-top: 100px;
}

.vault-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.vault-heading-text1 {
    color: oklch(0.74 0.19 195);
    font-family: var(--components-font-family);
    background-color: color-mix(in oklab, oklch(0.74 0.19 195) 10%, transparent);
    border: 1px solid color-mix(in oklab, oklch(0.74 0.19 195) 30%, transparent);
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

.vault-heading-text2 {
    color: rgb(var(--font-color));
    font-family: var(--text-font-family);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.vault-heading-text3 {
    color: rgb(var(--nav-explore-tab-tabs-font-color));
    font-size: 15px;
    font-family: var(--components-font-family);
    text-align: center;
    width: 90vw;
    max-width: 400px;
}


.vault {
    display: none;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
    transition: all .4s;
}

.vault-select {
    display: flex;
}

.vault *, #trending, #vault *{
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


#footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(var(--nav-explore-tab-tabs-font-color));
    box-sizing: border-box;
    width: 100vw;
}

#footer * {
    animation: disable;
}

.footer-description {
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.footer-text {
    font-size: 15px;
    color: rgb(var(--nav-explore-tab-tabs-font-color));
    font-family: var(--components-font-family);
    transition: all .4s;
}
.footer-text:hover {
    color: rgb(var(--font-color));

}

.footer-imgs {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.email, .phone {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.footer-rights {
    padding: 0 0 30px 30px;
    width: calc(90vw - 30px);
}