@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    cursor: default;
}

html {
    scroll-behavior: smooth;
}

:root {
    --theme-color: 0,0,0;
    --nav-bg: 6,4,7;
    --text-font-family: "Orbitron";
    --components-font-family: 'Space Grotesk';
    --font-color: 255,255,255;
    --nav-explore-tab-bg-color: 'transparent';
    --nav-explore-tab-tabs-font-color: 122,133,166;
    --nav-explore-tab-tabs-hover-font-color: 255,255,255;
    --nav-explore-tab-tabs-hover-bg-color: #261237;
    --genre-tag-background: color-mix(in oklab, #261237 20%, transparent);
    --genre-tag-border-color: rgb(72, 35, 128)
}

[data-theme='light'] {
    --theme-color: 255,255,255;
    --nav-bg: 228,227,231;
    --font-color: 0,0,0;
    --nav-explore-tab-bg-color: '#ffffff';
    --nav-explore-tab-tabs-font-color: 100,100,100;
    --nav-explore-tab-tabs-hover-font-color: 0,0,0;
    --nav-explore-tab-tabs-hover-bg-color: #d7c2e9;
    --genre-tag-background: color-mix(in oklab, #ad4cff 20%, transparent);
    --genre-tag-border-color: rgb(146 73 255)
}

body {
    background-color: rgb(var(--theme-color));
}

a {
    text-decoration: none;
}

.header {
    background-image: url('../images/bg_img.png');
    background-size: cover;
    background-position: 55% 20%;
    width: 100vw;
    height: 100vh;
}

.bg_filter {
    background: linear-gradient(
        rgba(var(--theme-color), .2) 0%,
        rgba(var(--theme-color), 1) 100%
        );
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
}
#results * {
        animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


#footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(var(--nav-explore-tab-tabs-font-color));
    box-sizing: border-box;
    width: 100vw;
}

#footer * {
    animation: disable;
}

.footer-description {
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.footer-text {
    font-size: 15px;
    color: rgb(var(--nav-explore-tab-tabs-font-color));
    font-family: var(--components-font-family);
    transition: all .4s;
}
.footer-text:hover {
    color: rgb(var(--font-color));

}

.footer-imgs {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.email, .phone {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.footer-rights {
    padding: 0 0 30px 30px;
    width: calc(90vw - 30px);
}